// コンテンツA: ヒーローイメージ
.conA{
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  min-height: 450px;
  background-image: linear-gradient(rgba(0,0,0,0.1), rgba(0,0,0,0.1)), url(../img/fruits.jpg);
  background-position: center;
  background-size: cover;
  color: $text-bright-color;
  color: #fff;
  text-align: center;
  &__title{
    font-family: 'Montserrat', sans-serif;
    font-size: 15vw;
    letter-spacing: 0.2em;
    margin: 0 0 10px 0.2em;
  }
  &__text{
    font-size: 18px;
  }
  &__image{
    width: 20%;
  }
  &__link{
    display: inline-block;
    margin-top: 20px;
    padding: 10px 30px;
    border: 3px solid currentColor;
    border-radius: 6px;
    background-color: $accent-color;
    color: $text-bright-color;
    font-size: 14px;
    text-decoration: none;
    &:hover{
      background-image: linear-gradient(rgba(255,255,255,0.2), rgba(255,255,255,0.2));
    }
  }
}

@include tab{
  .conA{
    &__title{
      font-size: 115px;
    }
    &__text{
      font-size: 24px;
    }
  }
  .conB{
    &__container{
      display: flex;
      justify-content: space-between;
      max-width: 1000px;
      max-width: $large-width;
      margin: 0 auto;
    }
  }
}

// コンテンツB: 概要(アイコン+テキスト)
.conB{
  &__container{
    padding: 80px 0 20px 0;
    &__content{
      text-align: center;
      padding: 0 20px 60px 20px;
      &__title{
        margin-bottom: 10px;
        font-size: 20px;
      }
      &__text{
        margin-bottom: 20px;
        font-size: 14px;
        line-height: 1.8;
        opacity: 0.8;
      }
      &__link{
        color: #5D9AB2;
        color: $main-color;
        text-decoration: none;
        &:hover{
          text-decoration: underline;
        }
      }
    }
  }
  &__icon{
    display: inline-block;
    margin-bottom: 20px;
    font-size: 40px;
    width: 2em;
    line-height: 2em;
    border-radius: 50%;
    text-align: center;
    background-color: #ddd;
    background: $icon-bk-color;
    color: #fff;
    color: $icon-color;
  }
}