.conA.compact {
  height: 450px;
  min-height: 0;
  background-image: linear-gradient(rgba(0,0,0,.1), rgba(0,0,0,.1)), url(../img/balloon.jpg);
}

.listA {
  & h2 {
    font-size: 18px;
  }
  & p {
    font-size: 14px;
    opacity: .8;
  }
  &__photo {
    min-height: 150px;
    background-position: center;
    background-size: cover;
  }
  & a {
    margin: 10px;
    display: block;
    border: 1px solid #ddd;
    border: 1px solid $gray-color;
    color: inherit;
    text-decoration: none;
    &:hover {
      opacity: .8;
    }
  }
  &__text {
    margin: 10px;
  }
}